@model List<WebApplication1.Models.Album>
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div>
        <h1>Depot</h1>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>Kind </td>
                        <td>Title </td>
                        <td>Value </td>
                        @*<td>Link</td>*@
                        <td>
                            @*<a class="btn btn-success" href="~/Album/Create">新增</a>*@
                            <button onclick="self.location.href = '/Album/Create'"><img src="/Content/image/plus.jpg" width="25" height="25"></button>
                        </td>

                    </tr>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].ID</td>
                            <td>@Model[i].Kind</td>
                            <td>@Model[i].Title</td>
                            <td>@Model[i].Value</td>
                            @*<td>
                                <img class="img-responsive" src="@Model[i].ImageUrl" />
                                <a href="/Home/Detail/@Model[i].ID">Link</a>
                            </td>*@
                            <td>
                           
                                @*<a class="btn btn-danger" href="~/Album/Delete/@Model[i].ID">刪除</a>*@

                                <button onclick="self.location.href='/Album/Update/@Model[i].ID'"><img src="/Content/image/pencil.jpg"width="25" height="25"></button>
                                <button onclick="self.location.href='/Album/Delete/@Model[i].ID'"><img src="/Content/image/eraser.jpg" width="25" height="25"></button>
                                                              
                            </td>
                        </tr>
                    }



                </tbody>
                <tfoot></tfoot>

            </table>

        </div>


    </div>
</div>

